{% extends "base.html" %}
	{% block title %}Code Pasty | Edit {{ pasty.Name }}{% endblock %}
	{% block container %}
	    <div class='hero-unit' style="padding: 20px;">
	    <form class="form-horizontal" method="post">
            <fieldset>
                <legend>Edit Pasty</legend>
                    <p style="font-size: small;">Parameters with * are mandatory</p>
                    <div class="control-group">
                    <label class="control-label" for="input01">Pasty Name / Title</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" name="name" value="{{ pasty.Name }}" id="input01">
                    </div>
                    </div>
                    <div class="control-group">
                    <label class="control-label" for="input01">Content (*)</label>
                    <div class="controls">
                        <textarea type="text" id="input01" rows="10" name="content" class='input-xxlarge'>{{ pasty.Content }}</textarea>
                    </div>
                    </div>
                    
                    <div class="form-actions">
                        <button type="submit" {% if disable %}disabled="disabled"{% endif %} class="btn btn-primary {% if disable %}disabled{% endif%}">Paste</button>
                    </div>
            </fieldset>
        </form>
        </div>
	{% endblock %}

