{% extends "base.html" %}
	{% block title %}Code Pasty | Making code sharing simple{% endblock %}
	{% block extra_meta %}<meta name="description" content="Code Pasty is a simple code sharing website, which supports inline comments and syntax highlighting.">{% endblock %}
	{% block container %}
		<div class="hero-unit" style="padding: 20px;">
		    <h1 style="font-size: 50px;">Code Pasty</h1>
		    <div style="float: right" class="nav">
		        {% if not disable %}
		        <h3><a href="{{logout_link}}">Logout</a></h3>
		        {% else %}
		        <h3><a href="{{login_link}}">Login</a></h3>
                {% endif %}
		    </div>
		    <p style="padding-left: 5px;">
		        <span style="color: #000066;">Code</span>, <span style="color: #006699;">Paste</span>, <span style="color: #FF634D;">Share</span>
		    </p>
		    <hr>
		    <div class='font-size-small'>
		    <form class="form-horizontal" method="post">
            <fieldset>
                <legend>Add a Pasty</legend>
                    <p style="font-size: small;">Parameters with * are mandatory</p>
                    <div class="control-group">
                    <label class="control-label" for="input01">Pasty Name</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" {% if disable %}disabled{% endif %} name="name" id="input01">
                    </div>
                    </div>
                    <div class="control-group">
                    <label class="control-label" for="input01">Content (*)</label>
                    <div class="controls">
                        <textarea type="text" id="input01" rows="10" name="content" class='input-xxlarge' {% if disable %}disabled{% endif %}></textarea>
                    </div>
                    </div>
                    
                    <div class="form-actions">
                        <button type="submit" {% if disable %}disabled="disabled"{% endif %} class="btn btn-primary {% if disable %}disabled{% endif%}">Public Paste</button>
                        <button type="submit" {% if disable %}disabled="disabled"{% endif %} class="btn btn-primary {% if disable %}disabled{% endif%}" value="1" name='private'>Private Paste</button>
                    </div>
            </fieldset>
            </form>
            </div>
		</div>
		{% if recent_pasties %}
		    <h2>Recent Pasties</h2>
		    <hr>
		    {% for pasty in recent_pasties %}
		    <h3><a href="/pasty/{{pasty.key().id()}}">{{pasty.Name}}</a> <span style="font-weight: 200;">by {{pasty.User.nickname()}}</span></h3>
		    {% endfor %}
		{% endif %}
	{% endblock %}