{% extends "base.html" %}
	{% block title %}Code Pasty | {{pasty.Name}}{% endblock %}
	{% block container %}
		<div class='span12'>
		    <a href="/"><i style="float: left; margin: 10px;" class="icon-backward"></i></a>
		    <div style="float: right">
		    <g:plusone size="tall" href="/pasty/{{pasty.key().id()}}"></g:plusone>
		    </div>
		    <h1>{{pasty.Name}}</h1>
		    {% if is_owner %}
		    <p><a href="/pasty/delete/{{pasty.key()}}">Delete</a></p>
		    {% endif %}
		    <pre class="prettyprint linenums">{{pasty.Content}}</pre>
		</div>
	{% endblock %}

    {% block extra_js %}
    <script type="text/javascript">
    var comment = 1;
    {% for lineno in comments %}
    $("li.L{{lineno}}").live("click", function() {
        if (comment == 1) {

$(this).append("\
<div id='comment'>\
{% for comment in comments[lineno] %}\
<p><span class='comment-author'>{{comment}}</span>\
<span class='comment-content'> - {{comments[lineno][comment]}}</span></p><br>\
{% endfor %}\
</div>");

            comment = 0
        }
        else {
            $(this).find("#comment").remove()
            comment = 1
        }
    });
    {% endfor %}
    </script>
    {% endblock %}