{% extends "base.html" %}
	{% block title %}Code Pasty | {{pasty.Name}}{% endblock %}
	{% block container %}
		<div class='span12'>
		    <a href="/"><i style="float: left; margin: 10px;" class="icon-backward"></i></a>
		    <div style="float: right">
		    <g:plusone size="tall" href="/pasty/{{pasty.key().id()}}"></g:plusone>
		    </div>
		    <h1>{{pasty.Name}}</h1>
		    {% if is_owner %}
		    <p><a href="/pasty/delete/{{pasty.key()}}">Delete</a> | <a href="/pasty/edit_pasty/{{pasty.key()}}">Edit</a></p>
		    {% endif %}
		    <pre class="prettyprint linenums">{{pasty.Content}}</pre>
		</div>
	{% endblock %}

    {% block extra_js %}
    <script type="text/javascript">
    $(window).load(function() {
        $("li").each(function(index) {
            $(this).attr("class", "L"+index)
        });
    });

    $(window).load(function() {
       $('li').after('<form style="display: none;" class="form-inline add-comment" method="post"><input type="text" {% if not logged_in %}disabled{% endif %} name="comment" class="input-large" placeholder="Add your comment"><button type="submit" class="btn" {% if not logged_in %}disabled{% endif %}>Comment</button></form>'); 
    });
    
    $(window).load(function() {
    {% for comment in comments %}
        if ($("li.L{{comment.LineNo}}").prev('.icon-bullhorn').length == 0) {
            $("li.L{{comment.LineNo}}").before("<i class='icon-bullhorn' id='comment-markers'></i>");
        }
        $("li.L{{comment.LineNo}}").after("<div style='display: none;' class='toggleMe{{comment.LineNo}} comment_container' id='{{ comment.key() }}'><span class='comment-author'>{{comment.User.nickname()}}</span><span class='comment-content'> - {{comment.Content}}</span> {% if comment.User == paster %}| <a class='deleteComment' href=\"javascript:void(0);\" onclick=\"delete_comment('{{ comment.key() }}')\">Delete</a>{% endif %}</div>");
        $("li.L{{comment.LineNo}}").attr("id", "toggleContainer")
    {% endfor %}
    });
    
    function delete_comment(key) {
            $.get('/comments/delete/' + key)
            .error( function () {
                alert("Something went Wrong!");
            })
            .success( function () {
                $("#"+key).remove()
            })
    }
    </script>
    
    <script>
    $(window).load(function() {
        $("li").click(function() {
            var lineno = $(this).attr("class").substr(1);
            $(this).nextAll('.toggleMe'+lineno).toggle();
            $(this).nextAll('.add-comment:eq(0)').attr("action", "/add_comment/{{pasty.key().id()}}/" + lineno);
            $(this).nextAll('.add-comment:eq(0)').toggle();
        });
    });
    </script>
    {% endblock %}