{% extends "base.html" %}
	{% block title %}Code Pasty | {{pasty.Name}}{% endblock %}
    {% if pasty.Private %}
        {% block robots %}
    <meta name="robots" content="noindex,nofollow" />
        {% endblock %}
    {% endif %}
        {% block meta_description %}
    <meta name="description" content="{{ pasty.Content[:155] }}" />
        {% endblock %}

	{% block container %}
		<div class='span12'>
		    <a href="/"><i style="float: left; margin: 10px;" class="icon-backward"></i></a>
		    <div style="float: right">
		    <g:plusone size="tall" href="/pasty/{{pasty.key().id()}}"></g:plusone>
		    </div>
		    <h1>{{pasty.Name}}</h1>
		    {% if is_owner %}
		    <p><a href="/pasty/delete/{{pasty.key().id()}}">Delete</a> | <a href="/pasty/edit_pasty/{{pasty.key().id()}}">Edit</a></p>
		    {% endif %}
		    <div class="alert alert-success">
		        Click on a line number to view/add comments for that line.
		        The megaphone (<i class='icon-bullhorn'></i>)
		        icon indicates lines which already have comments.
		        You can <a href="javascript:collapse_all()">Click Here</a>
		        to collapse all comments at once.
		    </div>
		    
		    {% if pasty.Short_Url %}
		    <div class='form-horizontal'>
		    <div class="control-group">
                    <label class="control-label" for="short_url">Short Url</label>
                    <div class="controls">
                        <input type="text" id="short_url" value="{{pasty.Short_Url}}" onfocus="this.select();">
                    </div>
            </div>
            </div>
		    {% endif %}
		    <pre class="prettyprint linenums">{{pasty.Content}}</pre>
		</div>
	{% endblock %}

    {% block extra_js %}
    <script type="text/javascript">
    $(window).load(function() {
        $("li").each(function(index) {
            $(this).attr("class", "L"+index)
        });
    });
    
    function collapse_all() {
       $(".comment_container").toggle()
    }

    $(window).load(function() {
       $('li').after('<form style="display: none;" class="form-inline add-comment" method="post"><input type="text" {% if not logged_in %}disabled{% endif %} name="comment" class="input-large" placeholder="Add your comment"><button type="submit" class="btn" {% if not logged_in %}disabled{% endif %}>Comment</button></form>'); 
    });
    
    $(window).load(function() {
    {% for comment in comments %}
        if ($("li.L{{comment.LineNo}}").prev('.icon-bullhorn').length == 0) {
            $("li.L{{comment.LineNo}}").before("<i class='icon-bullhorn' id='comment-markers' lineno='{{comment.LineNo}}'></i>");
        }
        $("li.L{{comment.LineNo}}").after("<div style='display: none;' class='comment_container toggleMe{{comment.LineNo}}' lineno='{{comment.LineNo}}' id='{{comment.key()}}' lineno='{{comment.LineNo}}'><span class='comment-author'>{{comment.User.nickname()}}</span><span class='comment-content'> - {{comment.Content}}</span> {% if comment.User == paster %}| <a class='deleteComment' href=\"javascript:void(0);\" onclick=\"delete_comment('{{ comment.key() }}')\">Delete</a>{% endif %}</div>");
        $("li.L{{comment.LineNo}}").attr("id", "toggleContainer")
    {% endfor %}
    });
    
    function delete_comment(key) {
            $.get('/comments/delete/' + key)
            .error( function () {
                alert("Something went Wrong!");
            })
            .success( function () {
                lineno = $("#"+key).attr('lineno');
                if($('li.L'+lineno).nextAll('.toggleMe'+lineno).length == 1) {
                    $("li.L"+lineno).prev().remove()
                }
                $("#"+key).remove()
            })
    }
    </script>
    
    <script>
    $(window).load(function() {
        $("li, #comment-markers").click(function() {
            if ($(this).attr('id') == 'comment-markers') { // User clicked on the icon
                li = $(this).next()
            }
            else {
                li = $(this)
            }
            var lineno = li.attr('class').substr(1)
            li.nextAll('.toggleMe'+lineno).toggle();
            li.nextAll('.add-comment:eq(0)').attr("action", "/add_comment/{{pasty.key().id()}}/" + lineno);
            li.nextAll('.add-comment:eq(0)').toggle();
        });
    });
    </script>
    {% endblock %}